@import "../../assets/stylus/mixins.styl"
$rem = 750/10rem
.classify
  width 100%
  position relative
  header.classify_head
    position fixed!important
    top 0
    z-index 10
    width 100%
    display flex
    align-items center
    padding (16/$rem) (30/$rem)
    background white
    box-sizing border-box
    bottom-border-1px(gray)
    .search
      display flex
      justify-content center
      width 100%
      height (56/$rem)
      font-size (28/$rem)
      background #ededed
      border-radius (8/$rem)
      align-items center
      .icon
        background url("./images/search.png") no-repeat
        width (28/$rem)
        height (28/$rem)
        background-size 100% 100%
        vertical-align middle
        margin-right (10/$rem)
      .search_text
        color #666
        box-sizing border-box
        vertical-align middle
  .classify_container
    position relative
    top (88/$rem)
    .classify_content
      clearFix()
      position relative
      .content_left
        position fixed
        top (98/$rem)
        bottom 0
        z-index 5
        display inline-block
        background-color #fff
        width (23%)
        border-right 1px solid #e0e0e0
        .content_left_text
          padding-top (40/$rem)
          padding-bottom (88/$rem)
          &:last-child
            margin-bottom 0
          .content_left_item
            text-align center
            font-size (28/$rem)
            width 100%
            height (50/$rem)
            line-height (50/$rem)
            margin-bottom (40/$rem)
            &.on
              color #ab2b2b
              font-size (36/$rem)
              border-left 5px solid #ab2b2b